---

import { profileConfig } from '../config'
import { url } from '../utils/url-utils'
---

<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6 justify-between mb-4">

<!--左侧信息 -->
    <div class="transition text-50 text-sm max-md:text-left mt-2">
        © 2024-2025 {profileConfig.name}. All Rights Reserved. /
        <a class="link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a>
    <!--
        <a class="link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a>
    -->
        <br>
        Powered by
        <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a> &
        <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://dash.cloudflare.com/">Cloudflare</a>
    </div>

<!--运行时间 -->
<script type="text/javascript">
    function runtime() {
        const startDate = new Date("10/01/2024 08:00:00");
        const currentDate = new Date();
        const diff = currentDate - startDate;

        const seconds = Math.floor(diff / 1000);
        const days = Math.floor(seconds / 86400);
        const hours = Math.floor((seconds % 86400) / 3600);
        const minutes = Math.floor((seconds % 3600) / 60);
        const secs = seconds % 60;

        const years = Math.floor(days / 365);
        const months = Math.floor((days % 365) / 30);
        const remainingDays = days % 30;

        let runtimeString = '⭐本站已运行: ';
        if (years > 0) {
            runtimeString += `${years}年`;
        }
        if (months > 0) {
            runtimeString += `${months}月`;
        }
        if (remainingDays > -1) {
            runtimeString += `${remainingDays}天`;
        }
        if (hours > -1) {
            runtimeString += `${hours}小时`;
        }
        if (minutes > -1) {
            runtimeString += `${minutes}分`;
        }
        if (secs > -1) {
            runtimeString += `${secs}秒`;
        }

        document.getElementById("runningtime").innerHTML = runtimeString;
    }
    setInterval(runtime, 1000);
</script>
<div class="transition text-50 text-sm text-center hidden md:block"><p id="runningtime"> </p></div>

<!--右侧备案等信息 -->
    <div class="transition text-50 text-sm max-md:text-right mt-2">
        <a class="link text-[var(--primary)] font-medium" target="_blank" href={'https://beian.miit.gov.cn'}></a>
        <br>
        <a class="link text-[var(--primary)] font-medium" target="_blank" href={'https://icp.gov.moe/?keyword=20250030'}>萌ICP备20250030号</a>
    </div>
</div>
